@import "tailwindcss";

@theme {
  --color-border: var(--color-zinc-700);
}

body {
  overflow: hidden;
  user-select: none;
  background: black;
  overscroll-behavior: none;
  -ms-touch-action: none;
  touch-action: none;
}